# UI
customtkinter==5.2.0

# Research dependencies
wikipedia==1.4.0
duckduckgo_search==3.9.3
scholarly==1.7.11
stackapi==0.2.0

# Utilities
requests==2.31.0

# Crypto
pycryptodome==3.19.0
cryptography==41.0.7
web3==6.11.3

# Voice support (currently disabled)
# pyttsx3==2.90
# speechrecognition==3.10.0
# pyaudio==0.2.13
